body {
	color: lightgray;
	background: black;
}

li[to_delete="true"] {
	background: #64A8D1;
}

#inputs {
	border-radius:20px;
	background: gray;
}

#proslist, #conslist {
	text-align: center;
}

#pros, #cons { 
	list-style-type: none;
	border-radius: 20px;
	background: #536872; 
	min-height: 400px;
	padding: 20px;	
}

#pros li, #cons li { 
	padding: 0px;
	margin: 10px 0px;
}

#shareurltext {
	background-color: steelblue;
	/* float: left; */
}
